$color-pink: #FDA3C4;
$color-pink-transparent: rgba(253, 163, 196, 0.12);;
$color-light-pink: #FFE6EF;
$color-red: #F40000;
$color-dark-red: #E00000;
$color-black-standart: #000;
$color-black: #1F1F1F;
$color-black-transparent: rgba(0, 0, 0, 0.50);
$color-grey: #909090;
$color-white: #FFF;

$color-shadow-grey: rgba(120, 144, 156, 0.24);
$color-cart-layout: rgba(0, 0, 0, 0.77);