@use "sass:map";

$z-layers: (
	layer_negative: -1,
	layer_min: 1,
	layer_base: 10,
	layer_middle: 100,
	layer_overlay: 150,
	layer_top: 500
);

@mixin zIndex ($layer: layer_min, $extra: 0) {
	$zIndex: map.get($z-layers, $layer);
	z-index: $zIndex + $extra;
}