@use "../common/forwarded" as helpers;

.good-item {
	position: relative;
	display: block;

	&__photo {

		&-img {
			@extend %image_inner;
		}
	}

	&__heart-icon {
		position: absolute;
	}

	&__line {
		background-color: helpers.$color-pink;
		width: 100%;
		height: 1px;
		margin: 0 auto;
	}

	&__description {
		display: flex;
		align-items:flex-start;

		&_name {
			font-family: "Montserrat", sans-serif;
			font-weight: 400;
			color: helpers.$color-black;
			margin-right: auto;
		}

		&_price {
			font-family: "Montserrat", sans-serif;
			color: helpers.$color-pink;
		}
	}
}
