@use "../../../common/forwarded" as helpers;

.footer {
	background-color: helpers.$color-pink;

	&__container {
		padding: 40px 11px;
		margin-bottom: 60px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: "info contacts" "write-ivanka write-ivanka";

		@include helpers.mobile() {
			padding: 40px 0;
			grid-template-columns: repeat(3, 1fr);
			grid-template-areas: "info contacts write-ivanka";
		}

		@include helpers.tablet() {
			grid-template-columns: 1fr 1fr minmax(228px, 1fr);
			padding: 50px 60px;
		}
	}

	&__title {
		font-family: "Sunday Best [rus by aLiNcE]";
		font-size: 0.625rem;
		font-weight: 400;
		line-height: 1.2;
		color: helpers.$color-red;
		display: inline-block;

		@include helpers.tablet() {
			font-size: 0.75rem;
		}
	}

	&__text {
		font-family: "Montserrat", sans-serif;
		font-size: 0.625rem;
		font-weight: 400;
		line-height: 1.2;
		color: helpers.$color-white;
		display: block;
		margin-bottom: 10px;
		white-space: pre-line;

		@include helpers.tablet() {
			font-size: 0.75rem;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__info {
		grid-area: info;

		&_title {
			letter-spacing: 1px;
			margin-bottom: 15px;

			@include helpers.tablet() {
				margin-bottom: 18px;
			}
		}

		&_social-links {
			letter-spacing: -1rem;
		}

		&_social-link {
			display: inline-block;
			width: 12px;
			height: 12px;

			@include helpers.mobile() {
				width: 18px;
				height: 18px;
			}

			&:first-child {
				margin-right: 13px;

				@include helpers.mobile() {
					margin-right: 18px;
				}
			}
		}
	}
	
	&__contacts {
		grid-area: contacts;
		padding-left: 35px;

		@include helpers.mobile() {
			padding-left: 0;
		}

		&_title {
			margin-bottom: 15px;

			@include helpers.tablet() {
				margin-bottom: 18px;
			}
		}

		&_item {
			@include helpers.mobile() {
				margin-bottom: 12px;
			}
		}
	}

	&__write-ivanka {
		grid-area: write-ivanka;
		margin-top: 25px;

		@include helpers.mobile() {
			margin-top: 0;
		}

		&_avatar {
			width: 58px;
			height: 58px;
			float: left;
			margin-right: 20px;

			@include helpers.mobile() {
				width: 32px;
				height: 32px;
				float: unset;
				margin: 0 0 12px;
			}

			@include helpers.tablet() {
				width: 51px;
				height: 51px;
				float: left;
				margin: 0 23px 0 0;
			}
		}

		&_text {
			margin-bottom: 12px;
		}

		&_title {
			border-bottom: 1px solid helpers.$color-red;
			line-height: 2;

			@include helpers.tablet() {
				margin-left: 74px;
				white-space: pre-line;
			}
		}
	}
}