@use "../../../common/forwarded" as helpers;

.novelty {

	&__container {
		margin-bottom: 40px;

		@include helpers.mobile() {
			margin-bottom: 50px;
		}

		@include helpers.laptop() {
			margin-bottom: 60px;
		}
	}

	&__title {
		position: relative;
		margin-bottom: 10px;

		&_name {
			color: helpers.$color-pink;
			font-family: "Sunday Best [rus by aLiNcE]";
			font-size: 1.625rem;
			font-weight: 400;
			line-height: 1.92;

			@include helpers.mobile() {
				font-size: 2.25rem;
			}

			@include helpers.tablet() {
				font-size: 3.375rem;
			}
		}


		&_subname {
			color: helpers.$color-black;
			font-family: "Montserrat", sans-serif;
			font-size: 0.875rem;
			font-weight: 600;
			line-height: 1.22;
			text-transform: uppercase;
			position: absolute;
			top: 31px;
			left: 0;

			@include helpers.mobile() {
				font-size: 1rem;
				top: 47px;
			}

			@include helpers.tablet() {
				font-size: 1.563rem;
				top: 70px;
			}
		}

		.title-line-icon {
			width: 24px;
			height: 6px;
			position: absolute;
			top: 37px;
			left: 82px;
		
			@include helpers.mobile() {
				width: 37px;
				height: 9px;
				top: 52px;
				left: 97px;
			}
		
			@include helpers.tablet() {
				width: 65px;
				height: 15px;
				top: 78px;
				left: 154px;
			}
		}
	}
}

.novelty-items__container {
	display: grid;
	grid-template-columns: repeat(2, 145px);
	margin-bottom: 15px;

	@include helpers.mobile() {
		grid-template-columns: repeat(2, 225px);
	}

	@include helpers.tablet() {
		grid-template-columns: repeat(3, 246px);
		margin-bottom: 27px;
	}

	@include helpers.laptop() {
		grid-template-columns: repeat(4, 227px);
	}

	@include helpers.desktop() {
		grid-template-columns: repeat(4, 285px);
	}

	.product-card-145x200-1 {
	
		@include helpers.tablet() {
	
			&:nth-child(4) {
				display: none;
			}
		}
	
		@include helpers.laptop() {
			&:nth-child(4) {
				display: block;
			}
		}
	}
}

.watch-everything-icon {
	display: block;
	width: 159px;
	height: 44px;
	margin: 0 auto;
	position: relative;

	@include helpers.tablet() {
		width: 180px;
		height: 50px;
	}

	&-text {
		font-family: "Sunday Best [rus by aLiNcE]", arial;
		font-size: 0.75rem;
		font-weight: 400;
		text-transform: uppercase;
		color: helpers.$color-white;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		text-align: center;
		top: 32%;

		@include helpers.tablet() {
			font-size: 0.85rem;
		}
	}
}