@use "../../../common/forwarded" as helpers;

.novelty {

	&__container {
		margin-bottom: 40px;

		@include helpers.mobile() {
			margin-bottom: 50px;
		}

		@include helpers.laptop() {
			margin-bottom: 60px;
		}
	}

	&__title {
		position: relative;
		margin-bottom: 10px;

		&_name {
			color: helpers.$color-pink;
			font-family: "Sunday Best [rus by aLiNcE]";
			font-size: 1.625rem;
			font-weight: 400;
			line-height: 1.92;

			@include helpers.mobile() {
				font-size: 2.25rem;
			}

			@include helpers.tablet() {
				font-size: 3.375rem;
			}
		}


		&_subname {
			color: helpers.$color-black;
			font-family: "Montserrat", sans-serif;
			font-size: 0.875rem;
			font-weight: 600;
			line-height: 1.22;
			text-transform: uppercase;
			position: absolute;
			top: 31px;
			left: 0;

			@include helpers.mobile() {
				font-size: 1rem;
				top: 47px;
			}

			@include helpers.tablet() {
				font-size: 1.563rem;
				top: 70px;
			}
		}

		.title-line-icon {
			width: 24px;
			height: 6px;
			position: absolute;
			top: 37px;
			left: 82px;
		
			@include helpers.mobile() {
				width: 37px;
				height: 9px;
				top: 52px;
				left: 97px;
			}
		
			@include helpers.tablet() {
				width: 65px;
				height: 15px;
				top: 78px;
				left: 154px;
			}
		
			&-svg {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}
}

.novelty-items__container {
	display: grid;
	grid-template-columns: repeat(2, 145px);
	margin-bottom: 15px;

	@include helpers.mobile() {
		grid-template-columns: repeat(2, 225px);
	}

	@include helpers.tablet() {
		grid-template-columns: repeat(3, 246px);
		margin-bottom: 27px;
	}

	@include helpers.laptop() {
		grid-template-columns: repeat(4, 227px);
	}

	@include helpers.desktop() {
		grid-template-columns: repeat(4, 285px);
	}

	.novelty-item {
		position: relative;
		padding: 2px 6px 9px;
		min-height: 200px;

		@include helpers.mobile() {
			padding: 4px 12px 11px;
			min-height: 322px;
		}

		@include helpers.tablet() {
			padding: 3px 14px 14px;

			&:nth-child(4) {
				display: none;
			}
		}

		@include helpers.laptop() {
			&:nth-child(4) {
				display: block;
			}
		}

		@include helpers.desktop() {
			padding: 3px 14px 28px;
		}

		&__photo {
			width: 133px;
			height: 157px;

			@include helpers.mobile() {
				width: 201px;
				height: 270px;
			}

			@include helpers.tablet() {
				width: 222px;
				height: 302px;
			}

			@include helpers.tablet() {
				width: 199px;
			}

			@include helpers.desktop() {
				width: 257px;
				height: 434px;
			}

			&-img {
				display: block;
				width: 100%;
				min-height: 100%;
				object-fit: contain;
			}
		}

		&__heart-icon {
			position: absolute;
			top: 10px;
			right: 10px;
			width: 14px;
			height: 12px;

			@include helpers.mobile() {
				width: 20px;
				height: 18px;
			}

			@include helpers.tablet() {
				width: 22px;
				height: 20px;
				top: 30px;
				right: 20px;
			}

			@include helpers.laptop() {
				top: 20px;
				right: 20px;
			}

			&-svg {
				display: block;
				width: 100%;
				height: 100%;
			}
		}

		&__line {
			background-color: helpers.$color-pink;
			width: 100%;
			height: 1px;
			margin: 0 auto 8px;

			@include helpers.mobile() {
				margin: 0 auto 10px;
			}

			@include helpers.tablet() {
				margin: 0 auto 13px;
			}

			@include helpers.desktop() {
				margin: 0 auto 27px;
			}
		}

		&__description {
			display: flex;
			align-items:flex-start;

			&_name {
				font-family: "Montserrat", sans-serif;
				font-size: 0.625rem;
				font-weight: 400;
				line-height: 1.2;
				color: helpers.$color-black;
				max-width: 90px;
				margin-right: auto;

				@include helpers.mobile() {
					font-size: 0.75rem;
					line-height: 1.17;
					max-width: 130px;
				}

				@include helpers.tablet() {
					font-size: 0.875rem;
					line-height: 1.22;
					max-width: 145px;
				}

				@include helpers.laptop() {
					max-width: 135px;
				}

				@include helpers.desktop() {
					font-size: 1rem;
					line-height: 1.29;
					max-width: 150px;
				}
			}

			&_price {
				font-family: "Montserrat", sans-serif;
				font-size: 0.625rem;
				font-weight: 600;
				color: helpers.$color-pink;
				
				@include helpers.mobile() {
					font-size: 0.875rem;
					font-weight: 700;
				}

				@include helpers.tablet() {
					font-size: 1rem;
				}

				@include helpers.desktop() {
					font-size: 1.5rem;
				}
			}
		}
	}
}

.watch-everything-icon {
	display: block;
	width: 159px;
	height: 44px;
	margin: 0 auto;
	position: relative;

	@include helpers.tablet() {
		width: 180px;
		height: 50px;
	}

	&-svg {
		display: block;
		width: 100%;
		height: 100%;
	}

	&-text {
		font-family: "Sunday Best [rus by aLiNcE]", arial;
		font-size: 0.75rem;
		font-weight: 400;
		text-transform: uppercase;
		color: helpers.$color-white;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		text-align: center;
		top: 32%;

		@include helpers.tablet() {
			font-size: 0.85rem;
		}
	}
}