@use "../../../common/forwarded" as helpers;

.novelty {

	&__container {
		margin-bottom: 40px;

		@include helpers.mobile() {
			margin-bottom: 50px;
		}

		@include helpers.laptop() {
			margin-bottom: 60px;
		}
	}

	.big__title_novelty {
		margin-bottom: 10px;

		@include helpers.tablet() {
			margin-bottom: 24px;
		}
	
		@include helpers.desktop() {
			margin-bottom: 26px;
		}
	}
}

.novelty-items__container {
	display: grid;
	grid-template-columns: repeat(2, 145px);
	margin-bottom: 15px;

	@include helpers.mobile() {
		grid-template-columns: repeat(2, 225px);
	}

	@include helpers.tablet() {
		grid-template-columns: repeat(3, 246px);
		margin-bottom: 27px;
	}

	@include helpers.laptop() {
		grid-template-columns: repeat(4, 227px);
	}

	@include helpers.desktop() {
		grid-template-columns: repeat(4, 285px);
	}

	.product-card-145x200-1 {
	
		@include helpers.tablet() {
	
			&:nth-child(4) {
				display: none;
			}
		}
	
		@include helpers.laptop() {
			&:nth-child(4) {
				display: block;
			}
		}
	}
}