// container sizes: 
// 320:  290x402
// 480:  450x568
// 768:  289x354
// 1000: 328x530
// 1440: 370x600

@use "../../common/forwarded" as helpers;

.product-card-290x402 {
	position: relative;
	display: block;
	min-height: 402px;
	padding: 5px 10px 13px;

	@include helpers.mobile() {
		min-height: 568px;
		padding: 9px 25px 28px;
	}

	@include helpers.tablet() {
		width: 289px;
		min-height: 354px;
		padding: 4px 6px 12px;
	}

	@include helpers.laptop() {
		width: 328px;
		min-height: 530px;
		padding: 5px 7px 28px;
		position: absolute;
		top: 0;
		right: 0;
	}

	@include helpers.desktop() {
		width: 370px;
		min-height: 600px;
		padding: 5px 25px 24px;
	}

	&__photo {
		width: 270px;
		height: 338px;

		@include helpers.mobile() {
			width: 400px;
			height: 466px;
		}

		@include helpers.tablet() {
			width: 276px;
			height: 290px;
		}

		@include helpers.laptop() {
			width: 314px;
			height: 434px;
		}

		@include helpers.desktop() {
			width: 320px;
			height: 507px;
		}

		&-img {
			@extend %image_inner;
		}
	}

	&__heart-icon {
		position: absolute;
		width: 24px;
		height: 22px;
		top: 20px;
		right: 20px;

		@include helpers.mobile() {
			width: 26px;
			height: 24px;
		}

		@include helpers.tablet() {
			width: 22px;
			height: 20px;
		}

		@include helpers.laptop() {
			width: 26px;
			height: 24px;
		}

		@include helpers.desktop() {
			top: 34px;
			right: 31px;
		}
	}

	&__line {
		background-color: helpers.$color-pink;
		width: 100%;
		height: 1px;
		margin: 0 auto 12px;

		@include helpers.mobile() {
			margin: 0 auto 26px;
		}

		@include helpers.tablet() {
			margin: 0 auto 13px;
		}

		@include helpers.laptop() {
			margin: 0 auto 27px;
		}

		@include helpers.desktop() {
			margin: 0 auto 24px;
		}
	}

	&__description {
		display: flex;
		align-items:flex-start;

		&_name {
			font-family: "Montserrat", sans-serif;
			font-size: 0.875rem;
			font-weight: 400;
			color: helpers.$color-black;
			margin-right: auto;
			max-width: 190px;

			@include helpers.mobile() {
				font-size: 1rem;
				max-width: 270px;
			}
	
			@include helpers.tablet() {
				font-size: 0.875rem;
				max-width: 180px;
			}
	
			@include helpers.laptop() {
				font-size: 1rem;
				max-width: 240px;
			}
		}

		&_price {
			font-family: "Montserrat", sans-serif;
			font-size: 1rem;
			font-weight: 700;
			color: helpers.$color-pink;

			@include helpers.mobile() {
				font-size: 1.25rem;
			}
	
			@include helpers.tablet() {
				font-size: 1rem;
			}
	
			@include helpers.laptop() {
				font-size: 1.5rem;
			}
		}
	}
}