<div class="model-parametrs">
	<div class="model-parametrs__container">
		<div class="model-parametrs__description">
			<div class="model-parametrs__parametrs">
				<strong class="parametrs-title model-parametrs-title">Параметры модели:</strong>
				<p class="parametrs-text model-parametrs-text">(На модели XS — S-ка)</p>
				<div class="model-parametrs__scheme">
					<div class="model-height">
						<p class="model-height-size">171 см</p>
						<p class="model-height-text">рост</p>
					</div>
					<div class="double-side-arrow-wrapper">
						{% include "html/icons_svg/pages/product/double-side-arrow.html" %}
					</div>
					<div class="scheme-image-wrapper">
						{% include "html/icons_svg/pages/product/model-scheme.html" %}
					</div>
					<div class="top-pinter-wrapper">
						{% include "html/icons_svg/pages/product/top-pointer.html" %}
					</div>
					<div class="middle-pinter-wrapper">
						{% include "html/icons_svg/pages/product/middle-pointer.html" %}
					</div>
					<div class="bottom-pinter-wrapper">
						{% include "html/icons_svg/pages/product/bottom-pointer.html" %}
					</div>
					<div class="bust-size body-part-size">
						<p class="body-part-size_size">83 см</p>
						<p class="body-part-size_text">объем груди</p>
					</div>
					<div class="waist-size body-part-size">
						<p class="body-part-size_size">66 см</p>
						<p class="body-part-size_text">объем талии</p>
					</div>
					<div class="hips-size body-part-size">
						<p class="body-part-size_size">93 см</p>
						<p class="body-part-size_text">объем бедер</p>
					</div>
				</div>
			</div>
			<div class="model-parametrs__consist">
				<strong class="consist-title model-parametrs-title">Состав:</strong>
				<ul class="consist-list">
					<li class="consist-list-item model-parametrs-text">50% вискоза</li>
					<li class="consist-list-item model-parametrs-text">50% полиэстер</li>
				</ul>
			</div>
		</div>
		<button class="size-table-button">таблица размеров</button>
	</div>
</div>