{% set slides = [
{
"img_number": "1"
},
{
"img_number": "2"
},
{
"img_number": "3"
},
{
"img_number": "4"
},
{
"img_number": "5"
}
] %}

<section class="product-content">
	<div class="navigation-state-wrapper">
		{% include "html/components/elements/navigation-state.html" %}
	</div>
	<div class="product-content__container">
		<div class="sliders-container">
			<div class="swiper swiper-main">
				<div class="swiper-wrapper">
					{% for slide in slides %}
					<div class="swiper-slide">
						<div class="swiper-main__image-container">
							<button class="product-content__heart-icon product-card__heart-icon">
								{% include "html/icons_svg/common/heart-icon.html" %}
							</button>
							<picture>
								<source
									srcset="img/pages/product/product_image/1200/photo_{{slide.img_number}}_x1200.jpg"
									type="image/jpeg" media="(min-width:1200px)">
								<source
									srcset="img/pages/product/product_image/1000/photo_{{slide.img_number}}_x1000.jpg"
									type="image/jpeg" media="(min-width:1000px)">
								<source srcset="img/pages/product/product_image/768/photo_{{slide.img_number}}_x768.jpg"
									type="image/jpeg" media="(min-width:768px)">
								<source srcset="img/pages/product/product_image/480/photo_{{slide.img_number}}_x480.jpg"
									type="image/jpeg" media="(min-width:480px)">
								<img class="_img"
									src="img/pages/product/product_image/320/photo_{{slide.img_number}}_x320.jpg"
									alt="Слайд в слайдере">
							</picture>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="swiper-pagination swiper-main-pagination"></div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
			<div thumbsSlider="" class="swiper swiper-thumbs">
				<div class="custom-vertical-pagination">
				</div>
				<div class="swiper-wrapper">
					{% for slide in slides %}
					<div class="swiper-slide">
						<div class="swiper-thumbs__image-container">
							<picture>
								<source
									srcset="img/pages/product/slider_thumbs/1200/photo_{{slide.img_number}}_x1200.jpg"
									type="image/jpeg" media="(min-width:1200px)">
								<source
									srcset="img/pages/product/slider_thumbs/1000/photo_{{slide.img_number}}_x1000.jpg"
									type="image/jpeg" media="(min-width:1000px)">
								<img class="_img"
									src="img/pages/product/slider_thumbs/768/photo_{{slide.img_number}}_x768.jpg"
									alt="Слайд в слайдере">
							</picture>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="swiper-pagination swiper-thumbs-pagination"></div>
			</div>
		</div>
		<div class="product-content__rest-content">
			<h2 class="product-content__title">
				Платье прозрачное в цветочек чееное
			</h2>
			<p class="product-content__price">
				1299 ₴
			</p>
			<p class="product-content__size">
				Размер:
			</p>
			<dialog class="modal-choose-size">
				<div class="modal-choose-size__content">
					<div class="modal-choose-size__title">
						Выберите размер
						<button class="modal-choose-size__marker">
							<div class="modal-choose-size__marker-line-1 marker-line"></div>
							<div class="modal-choose-size__marker-line-2 marker-line"></div>
						</button>
					</div>
					<ul class="modal-choose-size__size-list">
						<li class="size-list__item">
							<p class="size-list__availability">нет в наличии</p>
							<button disabled class="size-list__button">
								<p class="size-list__name">XS — S</p>
							</button>
						</li>
						<li class="size-list__item">
							<p class="size-list__availability">нет в наличии</p>
							<button class="size-list__button">
								<p class="size-list__name">S — M</p>
							</button>
						</li>
						<li class="size-list__item">
							<p class="size-list__availability">нет в наличии</p>
							<button class="size-list__button">
								<p class="size-list__name">M — L</p>
							</button>
						</li>
						<li class="size-list__item">
							<p class="size-list__availability">нет в наличии</p>
							<button class="size-list__button">
								<p class="size-list__name">L — XL</p>
							</button>
						</li>
					</ul>
				</div>
			</dialog>
			<button class="product-content__choose-size-button">
				Выберите размер
				<div class="product-content__chosen-size"></div>
				<div class="choose-size-marker">
					<div class="choose-size-marker_line-1 marker_line"></div>
					<div class="choose-size-marker_line-2 marker_line"></div>
				</div>
			</button>
			<div class="product-content__buy-buttton-container">
				<button class="product-content__buy-buttton">
					{% include "html/icons_svg/pages/product/into-cart-icon.html" %}
					<p class="product-content__buy-buttton-name white">в корзину</p>
				</button>
				<button class="product-content__buy-buttton">
					{% include "html/icons_svg/pages/product/quick-order-icon.html" %}
					<p class="product-content__buy-buttton-name pink">быстрый заказ</p>
				</button>
			</div>
			<div class="product-content__description">
				<p class="description-text">
					Легкое полупрозрачное платье средней длины. Платье — любая одежда кроме белья и обуви. Также
					предмет женского гардероба, обязательно с достаточно длинными полами, укрывающими тело и верхнюю
					часть ног. Платье — это верхняя одежда, состоящая из лифа и юбки, которая может быть изготовлена
					​​из одной или нескольких частей. Платья, как правило, подходят как в качестве повседневной, так
					и официальной одежды для женщин и девочек. Взято из Википедиии.
				</p>
				<button class="description-unwrap-button visible">Развернуть описание</button>
			</div>
			<div class="product-content__dotted-line"></div>
			<div class="model-parametrs__description">
				<div class="model-parametrs__parametrs">
					<strong class="parametrs-title model-parametrs-title">Параметры модели:</strong>
					<p class="parametrs-text model-parametrs-text">(На модели XS — S-ка)</p>
					<div class="model-parametrs__scheme">
						<div class="model-height">
							<p class="model-height-size">171 см</p>
							<p class="model-height-text">рост</p>
						</div>
						<div class="double-side-arrow-wrapper">
							{% include "html/icons_svg/pages/product/double-side-arrow.html" %}
						</div>
						<div class="scheme-image-wrapper">
							{% include "html/icons_svg/pages/product/model-scheme.html" %}
						</div>
						<div class="top-pinter-wrapper">
							{% include "html/icons_svg/pages/product/top-pointer.html" %}
						</div>
						<div class="middle-pinter-wrapper">
							{% include "html/icons_svg/pages/product/middle-pointer.html" %}
						</div>
						<div class="bottom-pinter-wrapper">
							{% include "html/icons_svg/pages/product/bottom-pointer.html" %}
						</div>
						<div class="bust-size body-part-size">
							<p class="body-part-size_size">83 см</p>
							<p class="body-part-size_text">объем груди</p>
						</div>
						<div class="waist-size body-part-size">
							<p class="body-part-size_size">66 см</p>
							<p class="body-part-size_text">объем талии</p>
						</div>
						<div class="hips-size body-part-size">
							<p class="body-part-size_size">93 см</p>
							<p class="body-part-size_text">объем бедер</p>
						</div>
					</div>
				</div>
				<div class="model-parametrs__consist">
					<strong class="consist-title model-parametrs-title">Состав:</strong>
					<ul class="consist-list">
						<li class="consist-list-item model-parametrs-text">50% вискоза</li>
						<li class="consist-list-item model-parametrs-text">50% полиэстер</li>
					</ul>
				</div>
			</div>
			<button class="size-table-button">таблица размеров</button>
		</div>
	</div>
</section>