<section class="product-transport">
	<div class="product-transport__container">
		<div class="product-transport__card">
			<div class="product-transport__card_img">
				{% include "html/icons_svg/common/send-icon-svg.html" %}</div>
			<div class="product-transport__card_content">
				<div class="product-transport__card_title">Отправляем <br>день в день</div>
				<div class="product-transport__card_description">При заказе до 18<span>00</span></div>
			</div>
		</div>
		<div class="product-transport__card">
			<div class="product-transport__card_img">
				{% include "html/icons_svg/common/return-icon-svg.html" %}</div>
			<div class="product-transport__card_content">
				<div class="product-transport__card_title">Легкий <br>возврат/обмен</div>
				<div class="product-transport__card_description">В течении 14 дней</div>
			</div>
		</div>
		<div class="product-transport__card">
			<div class="product-transport__card_img">
				{% include "html/icons_svg/common/cash-on-delivery-icon.html" %}
			</div>
			<div class="product-transport__card_content">
				<div class="product-transport__card_title">Отправляем <br>наложкой</div>
				<div class="product-transport__card_description">+ 2% от суммы</div>
			</div>
		</div>
	</div>
</section>