<header class="header">
	<div class="header__container _container">
		<div class="header__first-line">
			<a class="header__logo-icon" href="#">
				{% include "html/icons_svg/common/logo-icon.html" %}
			</a>
			<div class="header__contact-container">
				<a class="header__map-icon">
					{% include "html/icons_svg/header/map-icon.html" %}
					Киев, Нижний вал, 37
				</a>
				<a class="header__tel" href="tel:+380630000000">
					{% include "html/icons_svg/header/tel-icon.html" %}
					+38 063 000 00 00
				</a>
			</div>
			<a class="header__search" href="#">
				{% include "html/icons_svg/header/search-icon.html" %}
				<p class="search-name">Поиск</p>
			</a>
			<a class="header__wish-list-icon" href="#">
				{% include "html/icons_svg/header/wish-list-icon.html" %}
			</a>
			<button class="header__cart-icon" href="#">
				{% include "html/icons_svg/header/cart-icon.html" %}
			</button>
		</div>
	</div>
</header>
<div class="pink-line-top"></div>