{% set top = [
{
	"name": "Комбинезоны"
},
{
	"name": "Пиджаки"
},
{
	"name": "Рубашки"
},
{
	"name": "Свитшоты"
},
{
	"name": "Худи"
},
{
	"name": "Топы"
},
{
	"name": "Футболки"
}
] %}

{% set bottom = [
{
	"name": "Все товары"
},
{
	"name": "Брюки"
},
{
	"name": "Велосипедки"
},
{
	"name": "Джинсы"
},
{
	"name": "Штаны"
},
{
	"name": "Шорты"
},
{
	"name": "Юбки"
}
] %}

{% set jaket = [
{
	"name": "Все товары"
},
{
	"name": "Бомберы"
},
{
	"name": "Джинсовки"
},
{
	"name": "Дождевики"
},
{
	"name": "Куртки"
},
{
	"name": "Пальта"
},
{
	"name": "Пуховики"
},
{
	"name": "Тренчи"
}
] %}

{% set little_things = [
{
	"name": "Все товары"
},
{
	"name": "Ремни"
},
{
	"name": "Шарфы"
},
{
	"name": "Украшения"
}
] %}

{% set price = [
{
	"name": "Все цены"
},
{
	"name": "до 500"
},
{
	"name": "500 — 1000"
},
{
	"name": "1000 — 1500"
},
{
	"name": "от 1500"
}
] %}

{% set size = [
{
	"name": "XS — S"
},
{
	"name": "S — M"
},
{
	"name": "M — L"
},
{
	"name": "L — XL"
}
] %}

<div class="modal__filter">
	<button class="filter__close-button">
		{% include "html/icons_svg/menu/menu-close-button-icon.html" %}
	</button>
	<div class="filter__container">
		<p class="filter__name">Категории:</p>
		<div class="filter__categories-container">
			<ul class="filter__categories-list">
				<li class="categories-item filter-item-container">
					<button class="categories-item__button">Платья</button>
				</li>
				<li class="categories-item filter-item-container">
					<button class="categories-item__button" data-link="menu__clothes-top">Верх
						{% include "html/icons_svg/filter/arrow-bottom-icon.html" %}
					</button>
					<ul class="categories-item__subList" id="filter__clothes-top">
						{% for item in top %}
						<li class="filter-item">
							<div class="list-marker">
								{% include "html/icons_svg/filter/marker-icon.html" %}
							</div>
							<button class="categories__subList_content filter-item-text">{{item.name}}</button>
						</li>
						{% endfor %}
					</ul>
				</li>
				<li class="categories-item filter-item-container">
					<button class="categories-item__button" data-link="filter__clothes-bottom">Низ
						{% include "html/icons_svg/filter/arrow-bottom-icon.html" %}
					</button>
					<ul class="categories-item__subList" id="menu__clothes-bottom">
						{% for item in bottom %}
						<li class="filter-item">
							<div class="list-marker">
								{% include "html/icons_svg/filter/marker-icon.html" %}
							</div>
							<button class="categories__subList_content filter-item-text">{{item.name}}</button>
						</li>
						{% endfor %}
					</ul>
				</li>
				<li class="categories-item filter-item-container">
					<button class="categories-item__button" data-link="filter__clothes-jaket">Куртки
						{% include "html/icons_svg/filter/arrow-bottom-icon.html" %}
					</button>
					<ul class="categories-item__subList" id="filter__clothes-jaket">
						{% for item in jaket %}
						<li class="filter-item">
							<div class="list-marker">
								{% include "html/icons_svg/filter/marker-icon.html" %}
							</div>
							<button class="categories__subList_content filter-item-text">{{item.name}}</button>
						</li>
						{% endfor %}
					</ul>
				</li>
				<li class="categories-item filter-item-container">
					<button class="categories-item__button" data-link="filter__clothes-little-things">Мелочи
						{% include "html/icons_svg/filter/arrow-bottom-icon.html" %}
					</button>
					<ul class="categories-item__subList" id="menu__clothes-little-things">
						{% for item in little_things %}
						<li class="filter-item">
							<div class="list-marker">
								{% include "html/icons_svg/filter/marker-icon.html" %}
							</div>
							<button class="categories__subList_content filter-item-text">{{item.name}}</button>
						</li>
						{% endfor %}
					</ul>
				</li>
				<li class="categories-item filter-item-container">
					<button class="categories-item__button">Костюмы</button>
				</li>
			</ul>
		</div>
		<p class="filter__name filter__name_price">Цены:</p>
		<div class="filter__price-container filter-item-container">
			<ul class="price__list" id="filter__clothes-top">
				{% for item in price %}
				<li class="filter-item">
					<div class="list-marker">
						{% include "html/icons_svg/filter/marker-icon.html" %}
					</div>
					<button class="price__list-item-button filter-item-text">{{item.name}}</button>
				</li>
				{% endfor %}
			</ul>
		</div>
		<p class="filter__name filter__name_size">Размер:</p>
		<div class="filter__size-container filter-item-container">
			<ul class="size__list" id="filter__clothes-top">
				{% for item in size %}
				<li class="filter-item">
					<div class="list-marker">
						{% include "html/icons_svg/filter/marker-icon.html" %}
					</div>
					<button class="size__list-item-button filter-item-text">{{item.name}}</button>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>