<button class="pages-navigation__open-button">Pages</button>

<dialog class="pages-navigation__modal">
	<button class="pages-navigation__close-button" aria-label="Кнопка закрытия модального окна">
		{% include "html/icons_svg/menu/menu-close-button-icon.html" %}
	</button>
	<div class="pages-navigation__content">
		<ul class="pages-navigation__link-list">
			<li><a class="pages-navigation__link" href="./index.html">main</a></li>
			<li><a class="pages-navigation__link" href="./categories.html">categories</a></li>
			<li><a class="pages-navigation__link" href="./product.html">product</a></li>
		</ul>
	</div>
</dialog>