@use "../../common/forwarded" as helpers;

.top-content {

	&__container {
		position: relative;
		max-width: 1170px;
		margin: 8px auto 10px;
		padding: 0 15px;

		@include helpers.mobile() {
			display: grid;
			grid-template-columns: max-content auto;
			padding: 0 0 0 15px;
			margin: 8px auto 19px;
		}

		@include helpers.tablet() {
			padding: 0 15px;
			margin: 10px auto 50px;
		}
		
		@include helpers.laptop() {
			margin: 10px auto 60px;
		}
	}

	.breadcrumb-wrapper {
		margin-bottom: 136px;

		@include helpers.mobile() {
			margin: 0 6px 0 0;
		}

		@include helpers.tablet() {
			margin: 0 40px 0 0;
		}

		@include helpers.laptop() {
			margin: 0 50px 0 0;
		}

		@include helpers.desktop() {
			margin: 0 90px 0 0;
		}
	}

	&__poster {
		position: absolute;
		top: 21px;
		left: 0;
		height: 120px;
		width: 100%;

		@include helpers.mobile() {
			position: static;
			grid-row: 1/3;
			grid-column: 2/3;
			height: 125px;
		}

		@include helpers.tablet() {
			height: 152px;
		}

		@include helpers.laptop() {
			height: 200px;
		}

		img {
			object-fit: cover;
			object-position: right bottom;
		}
	}

	.big__title {
		@include helpers.mobile() {
			grid-row: 2/3;
			grid-column: 1/2;
			align-self: end;
			margin-bottom: -10px;
		}
	}
}