@use "../../common/forwarded" as helpers;

.transport-and-photo-from-instagram {

	&__container {
		padding: 0 15px;
		margin-bottom: 40px;

		@include helpers.mobile() {
			margin-bottom: 50px;
		}

		@include helpers.tablet() {
			display: flex;
			justify-content: space-between;
			max-width: 850px;
			margin: 0 auto 50px;
		}

		@include helpers.laptop() {
			max-width: 1000px;
			margin: 0 auto 55px;
		}
	}
}

.product-transport {
	width: 220px;
	margin: 0 auto 40px;
	display: flex;
	flex-direction: column;
	gap: 30px;

	@include helpers.mobile() {
		width: 294px;
		margin: 0 auto 50px;
	}

	@include helpers.tablet() {
		width: 336px;
		margin: 0;
	}

	@include helpers.laptop() {
		width: 455px;
	}

	&__card {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		@include helpers.mobile() {
			justify-content: flex-start;
			gap: 16px;
		}

		@include helpers.tablet() {
			gap: 15px;
		}

		&_content {
			width: 135px;

			@include helpers.mobile() {
				width: auto;
			}
		}

		&_img {
			width: 66px;
			height: 68px;
			display: inline-block;

			@include helpers.tablet() {
				width: 81px;
				height: 98px;
			}
		}

		&_title {
			font-family: "Montserrat", sans-serif;
			font-size: 0.875rem;
			font-weight: 600;
			color: helpers.$color-black;
			margin-bottom: 14px;
			line-height: 1.2;
			white-space: pre-line;

			@include helpers.mobile() {
				font-size: 1rem;
				white-space: normal;
				margin-bottom: 8px;
			}

			@include helpers.tablet() {
				font-size: 1.125rem;
			}

			@include helpers.laptop() {
				font-size: 1.563rem;
			}
		}

		&_description {
			font-family: "Montserrat", sans-serif;
			font-size: 0.75rem;
			font-weight: 400;
			line-height: 1.2;
			text-transform: uppercase;

			@include helpers.tablet() {
				font-size: 0.875rem;
			}

			@include helpers.laptop() {
				font-size: 1rem;
			}

			span {
				font-size: 0.375rem;
				vertical-align: 4px;
			}
		}
	}
}

.photo-from-instagram {

	&__title {
		display: block;
		margin-bottom: 8px;
		color: helpers.$color-pink;
		font-family: "Montserrat";
		font-weight: 700;
		line-height: 1.2;
		text-align: center;

		@include helpers.mobile() {
			font-size: 1.625rem;
			margin-bottom: 13px;
		}
	}

	&__photo {
		height: 188px;
		width: 188px;
		margin: 0 auto;

		@include helpers.mobile() {
			width: 304px;
			height: 304px;
		}
	}
}