{% set title = {
	"name": "верх",
	"subname": "топы"
} %}

<div class="top-content">
	<div class="top-content__container">
		<div class="navigation-state-wrapper">
			{% include "html/components/elements/navigation-state.html" %}
		</div>
		<div class="top-content__poster">
			<picture>
				<source srcset="img/pages/categories/navigation-state/poster_x1200.jpg" type="image/jpeg" media="(min-width:1200px)">
				<source srcset="img/pages/categories/navigation-state/poster_x1000.jpg" type="image/jpeg" media="(min-width:1000px)">
				<source srcset="img/pages/categories/navigation-state/poster_x768.jpg" type="image/jpeg" media="(min-width:768px)">
				<source srcset="img/pages/categories/navigation-state/poster_x480.jpg" type="image/jpeg" media="(min-width:480px)">
				<img class="_img" src="img/pages/categories/navigation-state/poster_x320.jpg" alt="Изображение одежды">
			</picture>
		</div>
		{% include "html/components/elements/big-title.html" %}
	</div>
</div>