@use "../../common/forwarded" as helpers;

.categories-main {

	&__container {
		display: grid;
		grid-gap: 4px;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(4, 1fr);
		padding: 0 15px;
		margin: 39px auto;

		@include helpers.mobile() {
			grid-gap: 8px;
			margin: 58px auto;
		}

		@include helpers.tablet() {
			transition: margin 0.5s;
			margin-top: 113px;
		}

		@include helpers.laptop() {
			margin-top: 118px;
			grid-gap: 11px;
		}

		@include helpers.laptop() {
			grid-gap: 15px;
		}

		&.menu-open {
			@include helpers.tablet() {
				margin-top: 150px;
			}

			@include helpers.laptop() {
				margin-top: 154px;
			}

			@include helpers.desktop() {
				margin-top: 169px;
			}
		}
	}

	&__item {
		position: relative;
	}

	&__link {
		display: block;
		width: 100%;
		height: 100%;
	}

	&__name-img-container {
		position: absolute;
	}

	&__name {
		position: absolute;
		top: 25%;
		left: 0;
		right: 0;
		text-align: center;
		font-family: "Sunday Best [rus by aLiNcE]", arial;
		font-size: 12px;
		color: helpers.$color-white;

		@include helpers.tablet() {
			font-size: 16px;
		}

		@include helpers.laptop() {
			font-size: 20px;
		}
	}
}

.t-shirt {
	grid-row: 1/3;
	grid-column: 1/4;
	width: 100%;

	@include helpers.tablet() {
		grid-row: 1/2;
		grid-column: 1/3;
		width: 366px;
		height: 223px;
	}

	@include helpers.laptop() {
		width: 446px;
		height: 272px;
	}

	@include helpers.desktop() {
		width: 562px;
		height: 345px;
	}

	&__name-img-container {
		width: 122px;
		top: 62%;
		left: 5%;

		@include helpers.mobile() {
			top: 82%;
			left: 8%;
		}
	
		@include helpers.tablet() {
			width: 170px;
			height: 44px;
			top: 165px;
			left: 13px;
		}
	
		@include helpers.laptop() {
			width: 205px;
			height: 52px;
			top: 204px;
			left: 5px;
			transform: rotate(2.15deg);
		}
	
		@include helpers.desktop() {
			top: 270px;
			left: 23px;
		}
	}

	&__name {
		@include helpers.laptop() {
			transform: rotate(-2.15deg);
		}
	}
}

.dress {
	grid-row: 1/2;
	grid-column: 4/6;
	width: 100%;

	@include helpers.tablet() {
		grid-row: 1/2;
		grid-column: 3/4;
		width: 178px;
		height: 192px;
	}

	@include helpers.laptop() {
		width: 216px;
		height: 234px;
	}

	@include helpers.desktop() {
		width: 274px;
		height: 296px;
	}

	&__name-img-container {
		width: 94px;
		height: 34px;
		top: 60%;
		left: 7%;
		transform: rotate(1.8deg);

		@include helpers.mobile() {
			top: 52%;
			left: 14%;
		}
	
		@include helpers.tablet() {
			width: 131px;
			height: 48px;
		}
	
		@include helpers.laptop() {
			width: 165px;
			height: 60px;
			top: 127px;
			left: 54px;
		}
	
		@include helpers.desktop() {
			width: 165px;
			height: 60px;
			top: 172px;
			left: 15px;
		}
	}
}

.clothes-bottom {
	grid-row: 2/3;
	grid-column: 4/6;
	width: 100%;

	@include helpers.tablet() {
		grid-row: 2/3;
		grid-column: 1/2;
		width: 178px;
		height: 192px;
	}

	@include helpers.laptop() {
		width: 216px;
		height: 234px;
	}

	@include helpers.desktop() {
		width: 274px;
		height: 296px;
	}

	&__name-img-container {
		width: 63px;
		height: 35px;
		top: 48%;
		left: 50%;
		transform: rotate(-44deg);

		@include helpers.mobile() {
			top: 69%;
			left: 56%;
		}
	
		@include helpers.tablet() {
			width: 90px;
			height: 44px;
			top: 117px;
			left: 88px;
			transform: rotate(-56.34deg);
		}
	
		@include helpers.laptop() {
			width: 106px;
			height: 60px;
			top: 146px;
			left: 119px;
		}
	
		@include helpers.desktop() {
			width: 105px;
			height: 55px;
			top: 189px;
			left: 161px;
		}
	}
}

.clothes-top {
	grid-row: 3/4;
	grid-column: 1/3;
	width: 100%;

	@include helpers.tablet() {
		grid-row: 2/3;
		grid-column: 2/3;
		width: 178px;
		height: 192px;
	}

	@include helpers.laptop() {
		width: 216px;
		height: 234px;
	}

	@include helpers.desktop() {
		width: 274px;
		height: 296px;
	}

	&__name-img-container {
		width: 83px;
		height: 35px;
		top: 47%;
		left: 20%;
		transform: rotate(2.3deg);

		@include helpers.mobile() {
			top: 71%;
			left: 45%;
		}
	
		@include helpers.tablet() {
			width: 110px;
			height: 44px;
			top: 123px;
			left: 6px;
		}
	
		@include helpers.laptop() {
			width: 132px;
			height: 55px;
			top: 172px;
			left: 9px;
		}
	
		@include helpers.desktop() {
			width: 132px;
			height: 55px;
			top: 20px;
			left: 123px;
		}
	}

	&__name {
		transform: rotate(-2.3deg);
	}
}

.hoody {
	grid-row: 4/5;
	grid-column: 1/3;
	width: 100%;

	@include helpers.tablet() {
		grid-row: 2/3;
		grid-column: 3/5;
		width: 366px;
		height: 223px;
		margin-top: -31px;
	}

	@include helpers.laptop() {
		width: 446px;
		height: 272px;
		margin-top: -38px;
	}

	@include helpers.desktop() {
		width: 562px;
		height: 345px;
		margin-top: -49px;
	}

	&__name-img-container {
		width: 82px;
		height: 34px;
		top: 39%;
		left: 5%;
		transform: rotate(2.5deg);

		@include helpers.mobile() {
			top: 66%;
			left: 7%;
		}
	
		@include helpers.tablet() {
			width: 110px;
			height: 44px;
			top: 148px;
			left: 18px;
			transform: rotate(34.56deg);
		}
	
		@include helpers.laptop() {
			width: 133px;
			height: 54px;
			top: 182px;
			left: 15px;
		}
	
		@include helpers.desktop() {
			top: 240px;
			left: 59px;
		}
	}

	&__name {
		transform: rotate(-2.5deg);

		@include helpers.tablet() {
			transform: rotate(0);
		}
	}
}

.costume {
	grid-row: 3/5;
	grid-column: 3/6;
	width: 100%;

	@include helpers.tablet() {
		grid-row: 1/2;
		grid-column: 4/5;
		width: 178px;
		height: 192px;
	}

	@include helpers.laptop() {
		width: 216px;
		height: 234px;
	}

	@include helpers.desktop() {
		width: 274px;
		height: 296px;
	}

	&__name-img-container {
		width: 101px;
		height: 35px;
		top: 62%;
		left: 9%;
		transform: rotate(2.2deg);

		@include helpers.mobile() {
			top: 82%;
			left: 8%;
		}
	
		@include helpers.tablet() {
			width: 141px;
			height: 44px;
			top: 143px;
			left: 30px;
		}
	
		@include helpers.laptop() {
			width: 184px;
			height: 53px;
			top: 180px;
			left: 25px;
		}
	
		@include helpers.desktop() {
			transform: rotate(1.8deg);
			width: 184px;
			height: 53px;
			top: 227px;
			left: 78px;
		}
	}

	&__name {
		@include helpers.tablet() {
			transform: rotate(-2.2deg);
		}
	}
}
