@use "../../common/forwarded" as helpers;

.novelty {

	&__container {
		max-width: 1170px;
		margin: 0 auto 40px;
		padding: 0 15px;

		@include helpers.mobile() {
			margin: 0 auto 50px;
		}

		@include helpers.laptop() {
			margin: 0 auto 60px;
		}
	}

	.big__title_novelty {
		margin-bottom: 10px;

		@include helpers.tablet() {
			margin-bottom: 24px;
		}
	
		@include helpers.desktop() {
			margin-bottom: 26px;
		}
	}

	._img {
		object-fit: cover;
		object-position: top center;
	}
}

.novelty-items__container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 15px;

	@include helpers.tablet() {
		grid-template-columns: repeat(3, 1fr);
		margin-bottom: 27px;
	}

	@include helpers.laptop() {
		grid-template-columns: repeat(4, 1fr);
	}

	.product-card-145x200-1 {

		@include helpers.tablet() {
	
			&:nth-child(4) {
				display: none;
			}
		}
	
		@include helpers.laptop() {
			&:nth-child(4) {
				display: block;
			}
		}

		&__photo {
			width: 100%;
			height: auto;
			margin: 0 auto;

			@include helpers.mobile() {
				width: auto;
				max-width: 250px;
				height: 270px;
			}

			@include helpers.tablet() {
				max-width: 270px;
			}

			@include helpers.laptop() {
				max-width: 240px;
			}
		}
	}
}