@use "../../common/forwarded" as helpers;

.transport {

	&__container {
		margin: 40px auto;
		padding: 0 35px;
		display: flex;
		flex-direction: column;

		@include helpers.mobile() {
			padding: 0;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
			margin: 50px auto;
		}

		@include helpers.mobile() {
			margin: 60px auto;
		}
	}

	&__card {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		@include helpers.mobile() {
			justify-content: center;
			gap: 8px;
		}

		@include helpers.tablet() {
			gap: 30px;
		}

		@include helpers.laptop() {
			gap: 20px;
		}

		@include helpers.desktop() {
			gap: 30px;
		}

		&:nth-child(3) {
			@include helpers.mobile() {
				display: flex;
				margin: 30px auto 0;
			}

			@include helpers.tablet() {
				margin: 35px auto 0;
			}

			@include helpers.laptop() {
				margin: unset;
			}
		}

		&_content {
			width: 135px;

			@include helpers.mobile() {
				width: auto;
			}
		}

		&_img {
			width: 70px;
			height: 85px;
			display: inline-block;

			@include helpers.tablet() {
				width: 81px;
				height: 98px;
			}
		}

		&_title {
			font-family: "Montserrat", sans-serif;
			font-size: 1rem;
			font-weight: 600;
			color: helpers.$color-black;
			text-align: center;
			margin-bottom: 8px;
			line-height: 1.2;

			@include helpers.tablet() {
				font-size: 1.563rem;
				margin-bottom: 15px;
			}
		}

		&_description {
			font-family: "Montserrat", sans-serif;
			font-size: 0.75rem;
			font-weight: 400;
			line-height: 1.2;
			text-transform: uppercase;
			text-align: center;

			@include helpers.tablet() {
				font-size: 1rem;
			}
		}
	}
}
