<header class="header">
	<div class="header__container _container">
		<div class="header__first-line">
			<a class="header__logo-icon" href="#">
				{% include "html/icons_svg/header/logo-icon.html" %}
			</a>
			<div class="header__contact-container">
				<a class="header__map-icon">
					{% include "html/icons_svg/header/map-icon.html" %}
					Киев, Нижний вал, 37
				</a>
				<a class="header__tel" href="tel:+380630000000">
					{% include "html/icons_svg/header/tel-icon.html" %}
					+38 063 000 00 00
				</a>
			</div>
			<a class="header__search" href="#">
				{% include "html/icons_svg/header/search-icon.html" %}
				<p class="search-name">Поиск</p>
			</a>
			<a class="header__wish-list-icon" href="#">
				{% include "html/icons_svg/header/wish-list-icon.html" %}
			</a>
			<a class="header__cart-icon" href="#">
				{% include "html/icons_svg/header/cart-icon.html" %}
			</a>
		</div>
		<nav class="menu">
			<ul class="menu__list">
				<li><a class="menu__item" href="">новинки</a></li>
				<li><a class="menu__item" href="">платья</a></li>
				<li><a class="menu__item" href="">верх</a></li>
				<li><a class="menu__item" href="">низ</a></li>
				<li><a class="menu__item" href="">куртки</a></li>
				<li><a class="menu__item" href="">мелочи</a></li>
				<li><a class="menu__item" href="">костюмы</a></li>
				<li><a class="menu__item" href="">#boorivagirls</a></li>
			</ul>
		</nav>
		<div class="header__pink-line"></div>
	</div>
</header>

