<div class="modal__menu">
	<button class="menu__close-button">
		{% include "html/icons_svg/menu/menu-close-button-icon.html" %}
	</button>
	<div class="menu__container">
		<p class="menu__name">меню</p>
		<ul class="menu__list">
			<li><a class="menu__item" href="#">новинки</a></li>
			<li><a class="menu__item" href="#">платья</a></li>
			<li><a class="menu__item" href="#">верх
				{% include "html/icons_svg/menu/arrow-right-icon.html" %}
			</a></li>
			<li><a class="menu__item" href="#">низ
				{% include "html/icons_svg/menu/arrow-right-icon.html" %}
			</a></li>
			<li><a class="menu__item" href="#">куртки
				{% include "html/icons_svg/menu/arrow-right-icon.html" %}
			</a></li>
			<li><a class="menu__item" href="#">мелочи
				{% include "html/icons_svg/menu/arrow-right-icon.html" %}
			</a></li>
			<li><a class="menu__item" href="#">костюмы</a></li>
			<li><a class="menu__item" href="#">#boorivagirls</a></li>
		</ul>
	</div>
</div>