{% set novelty_items = [
	{	
		"img_src_320": "img/pages/main/novelty/320/photo_1_x320.jpg",
		"img_src_480": "img/pages/main/novelty/480/photo_1_x480.jpg",
		"img_src_768": "img/pages/main/novelty/768/photo_1_x768.jpg",
		"img_src_1000": "img/pages/main/novelty/1000/photo_1_x1000.jpg",
		"img_src_1440": "img/pages/main/novelty/1440/photo_1_x1440.jpg",
		"description_name": "Cвитшот вставка клетка",
		"description_price": "1 099 ₴"
	},
	{	
		"img_src_320": "img/pages/main/novelty/320/photo_2_x320.jpg",
		"img_src_480": "img/pages/main/novelty/480/photo_2_x480.jpg",
		"img_src_768": "img/pages/main/novelty/768/photo_2_x768.jpg",
		"img_src_1000": "img/pages/main/novelty/1000/photo_2_x1000.jpg",
		"img_src_1440": "img/pages/main/novelty/1440/photo_2_x1440.jpg",
		"description_name": "Платье прозрачное в цветочек чееное",
		"description_price": "1 299 ₴"
	},
	{
		"img_src_320": "img/pages/main/novelty/320/photo_3_x320.jpg",
		"img_src_480": "img/pages/main/novelty/480/photo_3_x480.jpg",
		"img_src_768": "img/pages/main/novelty/768/photo_3_x768.jpg",
		"img_src_1000": "img/pages/main/novelty/1000/photo_3_x1000.jpg",
		"img_src_1440": "img/pages/main/novelty/1440/photo_3_x1440.jpg",
		"description_name": "Платье-футболка рыбы в аквариуме",
		"description_price": "899 ₴"
	},
	{	
		"img_src_320": "img/pages/main/novelty/320/photo_4_x320.jpg",
		"img_src_480": "img/pages/main/novelty/480/photo_4_x480.jpg",
		"img_src_768": "img/pages/main/novelty/768/photo_4_x768.jpg",
		"img_src_1000": "img/pages/main/novelty/1000/photo_4_x1000.jpg",
		"img_src_1440": "img/pages/main/novelty/1440/photo_4_x1440.jpg",
		"description_name": "Бомбер Gone Crazy хаки",
		"description_price": "2 499 ₴"
	}
] %}

<section class="novelty">
	<div class="novelty__container _container">
		<div class="novelty__title">
			<p class="novelty__title_name">новинки</p>
			<p class="novelty__title_subname">новинки</p>
			<div class="title-line-icon">
				{% include "html/icons_svg/novelty/title-line-icon.html" %}
			</div>
		</div>
		<div class="novelty-items__container">
			{% for item in novelty_items %}
				{% include "html/components/product-cards/product-card-145x200-1.html" %}
			{% endfor %}
		</div>
		<a class="watch-everything-icon" href="#">
			{% include "html/icons_svg/novelty/watch-everything-icon.html" %}
			<p class="watch-everything-icon-text">Смотреть все</p>
		</a>
	</div>
</section>