<section class="store">
	<div class="store__container _container">
		<div class="store__photo">
			<picture>
				<source srcset="img/pages/main/store/store_x1440.jpg" type="image/jpeg" media="(min-width:1440px)">
				<source srcset="img/pages/main/store/store_x1000.jpg" type="image/jpeg" media="(min-width:1000px)">
				<source srcset="img/pages/main/store/store_x768.jpg" type="image/jpeg" media="(min-width:768px)">
				<source srcset="img/pages/main/store/store_x480.jpg" type="image/jpeg" media="(min-width:480px)">
				<img class="_img" src="img/pages/main/store/store_x320.jpg" loading="lazy" alt="Изображение магазина одежды">
			</picture>
		</div>
		<div class="store__title">BOORIVA <br> STORE</div>
		<div class="store__contacts">
			<p>г.Киев,</p>
			<p>ул. Нижний вал, 37</p>
			<p>Ежедневно</p>
			<p>с 11:00 до 21:00</p>
		</div>
		<div class="store__description">
			Ты можешь заказать примерку понравившейся вещи или просто заглянуть, гуляя по Подолу, и примерять что-то из в наличии
		</div>
		<div class="store__map" id="map"></div>
		<a href="https://www.openstreetmap.org/directions?from=&to=50.46819%2C30.51476" class="store__route" target="_blank">
			{% include "html/icons_svg/store/route-svg.html" %}
			<p class="store__route_text">Проложить маршрут</p>
		</a>
		<div class="store__vector-1">{% include "html/icons_svg/store/vector-1-svg.html" %}</div>
		<div class="store__vector-2">{% include "html/icons_svg/store/vector-1-svg.html" %}</div>
		<div class="store__vector-3">{% include "html/icons_svg/store/vector-3-svg.html" %}</div>
		<div class="store__vector-4">{% include "html/icons_svg/common/title-line-icon.html" %}</div>
		<div class="store__vector-5">{% include "html/icons_svg/store/vector-5-svg.html" %}</div>
		<div class="store__vector-6">{% include "html/icons_svg/store/vector-6-svg.html" %}</div>
		<div class="store__vector-7">{% include "html/icons_svg/store/vector-7-svg.html" %}</div>
		<div class="store__vector-8">{% include "html/icons_svg/store/vector-8-svg.html" %}</div>
		<div class="store__vector-9">{% include "html/icons_svg/store/vector-8-svg.html" %}</div>
		<div class="store__vector-10">{% include "html/icons_svg/store/vector-10-svg.html" %}</div>
	</div>
</section>
