<section class="transport">
	<div class="transport__container _container">
		<div class="transport__card">
			<div class="transport__card_img">
				{% include "html/icons_svg/transport/send-icon-svg.html" %}</div>
			<div class="transport__card_content">
				<div class="transport__card_title">Отправка <br>день в день</div>
				<div class="transport__card_description">При заказе до 1800</div>
			</div>
		</div>
		<div class="transport__card">
			<div class="transport__card_img">
				{% include "html/icons_svg/transport/return-icon-svg.html" %}</div>
			<div class="transport__card_content">
				<div class="transport__card_title">Легкий <br>возврат/обмен</div>
				<div class="transport__card_description">В течении 14 дней</div>
			</div>
		</div>
		<div class="transport__card">
			<div class="transport__card_img">
				{% include "html/icons_svg/transport/production-icon-svg.html" %}
			</div>
			<div class="transport__card_content">
				<div class="transport__card_title">Сделано <br>в Украине</div>
				<div class="transport__card_description">Прям в Киеве</div>
			</div>
		</div>
	</div>
</section>