<div class="navigation-state">
	<a class="navigation-state__link navigation-state__link_main" href="./">Главная</a>
	<div class="navigation-state__arrow-icon">
		{% include "html/icons_svg/common/nav-state-arrow-icon.html" %}
	</div>
	<a class="navigation-state__link navigation-state__link_category" href="#">Верх</a>
	<div class="navigation-state__arrow-icon">
		{% include "html/icons_svg/common/nav-state-arrow-icon.html" %}
	</div>
	<a class="navigation-state__link navigation-state__link_sub-category" href="../../../categories.html">Топы</a>
	<div class="navigation-state__arrow-icon">
		{% include "html/icons_svg/common/nav-state-arrow-icon.html" %}
	</div>
</div>