<a class="product-card" href={{item.link}}>
	<div class="product-card__photo">
		<picture>
			<source srcset="{{item.img_src_1200}}" type="image/jpeg" media="(min-width:1200px)">
			<source srcset="{{item.img_src_1000}}" type="image/jpeg" media="(min-width:1000px)">
			<source srcset="{{item.img_src_768}}" type="image/jpeg" media="(min-width:768px)">
			<source srcset="{{item.img_src_480}}" type="image/jpeg" media="(min-width:480px)">
			<img class="_img" src="{{item.img_src_320}}" loading="lazy" alt="Изображение одежды">
		</picture>
	</div>
	<button class="product-card__heart-icon">
		{% include "html/icons_svg/common/heart-icon.html" %}
	</button>
	<div class="product-card__line"></div>
	<div class="product-card__description">
		<p class="product-card__description_name">{{item.description_name}}</p>
		<p class="product-card__description_price">{{item.description_price}}</p>
	</div>
</a>