@use "../../common/forwarded" as helpers;

.breadcrumb  {
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		font-family: "Montserrat", sans-serif;
		font-size: 0.75rem;
		font-weight: 500;
		line-height: 1.2;

		@include helpers.tablet() {
			font-size: 0.875rem;
		}

		@include helpers.desktop() {
			font-size: 1rem;
		}
	}

	&__link {
		color: helpers.$color-black;
		transition: color 0.3s;

		&:hover {
			@include helpers.laptop() {
				color: helpers.$color-pink;
			}
		}
	}

	&__last-item {
		color: helpers.$color-pink;
	}

	&__list-item:not(:last-child)::after {
		display: inline-block;
		margin-left: 8px;
		content: url("../img/common/breadcrumb-arrow.svg");
		width: 5px;
		height: 7px;
	
		@include helpers.tablet() {
			width: 8px;
			height: 10px;
		}
	}
}


