@use "../../common/forwarded" as helpers;

.navigation-state {
	display: flex;
	align-items: center;
	gap: 8px;

	@include helpers.mobile() {
		grid-row: 1/2;
		grid-column: 1/2;
		align-self: start;
	}

	&__link {
		font-family: "Montserrat", sans-serif;
		font-size: 0.75rem;
		font-weight: 500;
		line-height: 1.2;
		color: helpers.$color-black;

		@include helpers.tablet() {
			font-size: 0.875rem;
		}

		@include helpers.desktop() {
			font-size: 1rem;
		}
	}

	&__arrow-icon {	
		width: 7px;
		height: 5px;

		@include helpers.tablet() {
			width: 10px;
			height: 8px;
		}
	}
}