@use "../../common/forwarded" as helpers;

.product-card__heart-icon {
	&::after {
		content: "";
		position: absolute;
		top: -50%;
		left: -50%;
		width: 200%;
		height: 200%;
	}

	._svg {
		.heart-icon-fill{
			fill: helpers.$color-white;
			transition: fill 0.5s;
		}

		.heart-icon-stroke {
			fill: helpers.$color-black;
			transition: fill 0.5s;
		}
	}

	&:hover {
		._svg {
			.heart-icon-fill{
				fill: helpers.$color-pink;
			}

			.heart-icon-stroke {
				fill: helpers.$color-pink;
			}
		}
	}

	&.active {
		._svg {
			.heart-icon-fill{
				fill: helpers.$color-red;
			}

			.heart-icon-stroke {
				fill: helpers.$color-red;
			}
		}
	}
}
