@use "../../common/forwarded" as helpers;

.watch-everything-icon {
	display: block;
	width: 159px;
	height: 44px;
	margin: 0 auto;
	position: relative;

	@include helpers.tablet() {
		width: 180px;
		height: 50px;
	}

	&-text {
		font-family: "Sunday Best [rus by aLiNcE]", arial;
		font-size: 0.75rem;
		font-weight: 400;
		text-transform: uppercase;
		color: helpers.$color-white;
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		top: 18%;

		@include helpers.tablet() {
			font-size: 0.85rem;
		}
	}
}