{% extends "html/layouts/default.html" %}

{% block content %}
	{% include "html/pages/main/categories.html" %}
	{% include "html/pages/main/menu.html" %}
	{% include "html/pages/main/novelty.html" %}
	{% include "html/pages/main/poster.html" %}
	{% include "html/pages/main/store.html" %}
	{% include "html/pages/main/top-goods.html" %}
	{% include "html/pages/main/costumes.html" %}
	{% include "html/pages/main/transport.html" %}
	{% include "html/pages/main/instagram.html" %}
	{% include "html/pages/main/modal-menu.html" %}
{% endblock %}