{% extends "html/layouts/default.html" %}

{% block css %}
	<link rel="stylesheet" href="css/index.min.css">
{% endblock %}

{% block content %}
	{% include "html/pages/main/categories-main.html" %}
	{% include "html/pages/main/menu.html" %}
	{% include "html/pages/main/novelty.html" %}
	{% include "html/pages/main/poster.html" %}
	{% include "html/pages/main/store.html" %}
	{% include "html/pages/main/top-goods.html" %}
	{% include "html/pages/main/suits.html" %}
	{% include "html/pages/main/transport.html" %}
	{% include "html/components/sections/instagram.html" %}
	{% include "html/components/sections/modal-menu.html" %}
	{% include "html/components/elements/buttonScrollTop.html" %}
{% endblock %}

{% block js %}
	<script type="module" src="js/index.min.js"></script>
{% endblock %}