@use "../../common/forwarded" as helpers;

.cart {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
	transform: translateX(100%);
	transition: transform 0.5s;
	@include helpers.zIndex(layer_top);

	@include helpers.tablet() {
		transform: translateX(0);
		background-color: helpers.$color-cart-layout;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.5s,
			visibility 0.5s;
	}

	&[open] {
		transform: translateX(0);

		@include helpers.tablet() {
			opacity: 1;
			visibility: visible;
		}

		.cart__content {
			@include helpers.tablet() {
				transform: translateX(0);
			}
		}
	}

	&::backdrop {
		background: transparent;
	}

	&__content {
		display: flex;
		flex-direction: column;
		padding: 30px 15px 0;
		min-height: 100%;
		background-color: helpers.$color-white;

		@include helpers.mobile() {
			padding: 48px 15px 0;
		}

		@include helpers.tablet() {
			width: 470px;
			position: fixed;
			right: 0;
			padding: 20px 42px 0 25px;
			transform: translateX(100%);
			transition: transform 0.5s;
		}

		@include helpers.laptop() {
			width: 492px;
			padding: 60px 54px 0 22px;
		}

		@include helpers.desktop() {
			width: 518px;
		}
	}

	&__close-button {
		width: 24px;
		height: 24px;
		margin: 0 0 40px auto;

		@include helpers.mobile() {
			width: 36px;
			height: 36px;
			margin: 0 0 23px auto;
		}

		@include helpers.tablet() {
			width: 46px;
			height: 46px;
			margin: 0 0 0 auto;
		}

		@include helpers.laptop() {
			margin: 0 0 7px auto;
		}
	}

	&__title {
		font-family: "Montserrat";
		font-weight: 700;
		line-height: 1.2;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 20px;

		@include helpers.tablet() {
			font-size: 1.563rem;
			margin-bottom: 40px;
		}
	}

	&__items-container {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-bottom: 40px;
		height: 250px;
		overflow-y: scroll;
		overflow-x: hidden;
		-webkit-overflow-scrolling: auto;
		scrollbar-width: thin;
		scrollbar-color: helpers.$color-pink helpers.$color-light-pink;

		@include helpers.mobile() {
			height: 370px;
			margin-bottom: 50px;
		}

		@include helpers.tablet() {
			margin-bottom: 40px;
		}

		&::-webkit-scrollbar {
			width: 1px;
		}

		&::-webkit-scrollbar-track {
			background: helpers.$color-light-pink;
		}

		&::-webkit-scrollbar-thumb {
			background-color: helpers.$color-pink;
		}
	}

	&__item {
		display: flex;
		gap: 10px;
		margin: 0 auto;

		@include helpers.mobile() {
			gap: 15px;
		}

		@include helpers.tablet() {
			gap: 10px;
		}
	}

	&__item-photo {
		min-width: 90px;
		height: 120px;

		@include helpers.mobile() {
			min-width: 155px;
			height: 180px;
		}

		._img {
			object-fit: cover;
		}
	}

	&__item-description {
		display: flex;
		flex-direction: column;
	}

	&__item-delete-button-container {
		min-width: 30px;
		text-align: right;

		@include helpers.mobile() {
			min-width: 32px;
		}

		@include helpers.tablet() {
			min-width: 48px;
		}
	}

	&__item-delete-button {
		position: relative;
		width: 12px;
		height: 12px;
		margin: 0 10px 0 0;
		border-radius: 50%;
		position: relative;
		background-color: helpers.$color-pink;
		vertical-align: top;

		&::after {
			content: "";
			position: absolute;
			top: -50%;
			left: -50%;
			width: 200%;
			height: 200%;
		}

		@include helpers.mobile() {
			margin: 30px 20px 0 0;
		}

		@include helpers.tablet() {
			margin: 30px 35px 0 0;
		}

		.button-line {
			height: 1px;
			width: 8px;
			background-color: helpers.$color-white;
			position: absolute;
			top: 50%;
			left: 50%;
		}

		&-line-1 {
			transform: translate(-50%, -35%) rotate(45deg);
		}

		&-line-2 {
			transform: translate(-50%, -35%) rotate(-45deg);
		}
	}

	&__total-price {
		margin: 0 auto 30px;
		width: 100%;
		color: helpers.$color-pink;
		font-family: "Montserrat";
		line-height: 1.2;
		display: flex;
		align-items: end;

		@include helpers.mobile() {
			max-width: 350px;
		}

		@include helpers.tablet() {
			margin: 0 auto 40px;
			max-width: 362px;
		}

		@include helpers.laptop() {
			margin: 0 auto 50px;
		}

		&-text {
			flex-shrink: 0;

			@include helpers.tablet() {
				color: helpers.$color-black-standart;
				font-size: 1.563rem;
			}
		}

		&-dots {
			width: 100%;
			height: 5px;
			background-image: url(../../../img/common/dot.svg);
			background-repeat: repeat-x;

			@include helpers.tablet() {
				height: 8px;
				background-image: url(../../../img/common/dots_black.svg);
			}
		}

		&-sum {
			font-weight: 700;
			flex-shrink: 0;

			@include helpers.tablet() {
				color: helpers.$color-black-standart;
				font-size: 1.563rem;
			}
		}
	}

	&__make-order-button {
		margin: 0 auto;
		position: relative;
		width: 160px;
		height: 44px;

		@include helpers.tablet() {
			width: 200px;
			height: 50px;
		}

		&-text {
			font-family: "Sunday Best [rus by aLiNcE]", arial;
			font-size: 0.75rem;
			font-weight: 400;
			text-transform: uppercase;
			color: helpers.$color-white;
			position: absolute;
			left: 0;
			right: 0;
			text-align: center;
			top: 18%;

			@include helpers.tablet() {
				font-size: 0.875rem;
			}
		}
	}
}

.item-description-title {
	font-family: "Montserrat";
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.2;
	margin: 0 0 12px;

	@include helpers.mobile() {
		margin-top: 33px;
		margin: 33px 0 12px;
	}

	@include helpers.tablet() {
		font-size: 1rem;
		margin-top: 30px;
		margin: 33px 0 8px;
	}
}

.item-description-size {
	font-family: "Montserrat";
	font-size: 0.75rem;
	line-height: 1.2;
	margin-bottom: auto;

	@include helpers.mobile() {
		margin-bottom: 32px;
	}

	@include helpers.tablet() {
		font-size: 0.875rem;
		margin-bottom: 26px;
	}
}

.item-description-price {
	color: helpers.$color-pink;
	font-family: "Montserrat";
	font-weight: 700;
	line-height: 1.2;
}