@use "../../common/forwarded" as helpers;

.footer {
	background-color: helpers.$color-pink;

	&__container {
		padding: 40px 11px;
		margin-bottom: 60px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: "info contacts" "write-ivanka write-ivanka";

		@include helpers.mobile() {
			padding: 40px 0;
			grid-template-columns: repeat(3, 1fr);
			grid-template-areas: "info contacts write-ivanka";
		}

		@include helpers.tablet() {
			grid-template-columns: 1fr 1fr minmax(228px, 1fr);
			padding: 50px 60px;
			margin-bottom: 0;
		}

		@include helpers.laptop() {
			grid-template-columns: auto auto auto auto minmax(202px, 202px);
			grid-template-areas: "logo info contacts social-networks write-ivanka";
			padding: 60px 0;
			justify-content: space-between;
		}
	}

	&__title {
		font-family: "Sunday Best [rus by aLiNcE]";
		font-size: 0.625rem;
		font-weight: 400;
		line-height: 1.2;
		color: helpers.$color-red;
		display: inline-block;

		@include helpers.tablet() {
			font-size: 0.75rem;
		}
	}

	&__text {
		font-family: "Montserrat", sans-serif;
		font-size: 0.625rem;
		font-weight: 400;
		line-height: 1.2;
		color: helpers.$color-white;
		display: block;
		margin-bottom: 10px;

		@include helpers.tablet() {
			font-size: 0.75rem;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__social-link {
		display: inline-block;
		width: 12px;
		height: 12px;

		@include helpers.mobile() {
			width: 18px;
			height: 18px;
		}

		&:first-child {
			margin-right: 13px;

			@include helpers.mobile() {
				margin-right: 18px;
			}

			@include helpers.laptop() {
				margin-right: 16px;
			}
		}
	}

	&__logo {
		display: none;

		@include helpers.laptop() {
			grid-area: logo;
			display: block;
			width: 96px;
			height: 24px;
		}

		._svg {
			path {
				fill: helpers.$color-red;
			}
		}
	}

	&__info {
		grid-area: info;

		&_title {
			letter-spacing: 1px;
			margin-bottom: 15px;

			@include helpers.tablet() {
				margin-bottom: 18px;
			}
		}

		&_item {
			&-contacts {
				display: none;

				@include helpers.laptop() {
					display: block;
				}
			}
		}

		&_social-links {
			letter-spacing: -1rem;

			@include helpers.laptop() {
				display: none;
			}
		}
	}
	
	&__contacts {
		grid-area: contacts;
		padding-left: 35px;

		@include helpers.mobile() {
			padding-left: 0;
		}

		&_title {
			margin-bottom: 15px;

			@include helpers.tablet() {
				margin-bottom: 18px;
			}

			&-to768 {
				@include helpers.laptop() {
					display: none;
				}
			}

			&-from1000 {
				display: none;

				@include helpers.laptop() {
					display: inline-block;
				}
			}
		}

		&_item {
			white-space: pre-line;

			@include helpers.mobile() {
				margin-bottom: 12px;
			}

			@include helpers.tablet() {
				margin-bottom: 10px;
			}

			@include helpers.laptop() {
				white-space: unset ;
			}

			&-tel {
				@include helpers.laptop() {
					display: none;
				}
			}
		}
	}

	&__social-networks {
		grid-area: social-networks;
		display: none;

		@include helpers.laptop() {
			display: inline-block;
		}

		&_title {
			margin-bottom: 18px;
		}
	}

	&__write-ivanka {
		grid-area: write-ivanka;
		margin-top: 25px;

		@include helpers.mobile() {
			margin-top: 0;
		}

		&_avatar {
			width: 58px;
			height: 58px;
			float: left;
			margin-right: 20px;

			@include helpers.mobile() {
				width: 32px;
				height: 32px;
				float: unset;
				margin: 0 0 12px;
			}

			@include helpers.tablet() {
				width: 51px;
				height: 51px;
				float: left;
				margin: 0 23px 0 0;
			}

			@include helpers.laptop() {
				margin: 0 15px 0 0;
			}
		}

		&_text {
			margin-bottom: 12px;
			
			span {
				@include helpers.tablet() {
					white-space: pre-line;
				}

				@include helpers.laptop() {
					display: block;
				}

				&:first-child {
					@include helpers.laptop() {
						width: 200px;
					}
				}

				&:first-child {
					width: 180px;
				}
			}
			
		}

		&_title {
			border-bottom: 1px solid helpers.$color-red;
			line-height: 2;

			@include helpers.tablet() {
				margin-left: 74px;
			}

			@include helpers.laptop() {
				margin-left: 66px;
			}
		}
	}
}