@use "../common/forwarded" as helpers;

.header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: helpers.$color-white;
	@include helpers.zIndex(layer_middle);

	&__container {
		padding: 10px 0 8px;

		@include helpers.mobile() {
			padding: 12px 0 14px;
		}

		@include helpers.tablet() {
			padding: 6px 0 51px;
		}

		@include helpers.laptop() {
			padding: 10px 0 51px;
		}

		.header__first-line {
			display: flex;
			align-items: center;

			.header__logo-icon {
				margin-right: auto;
				height: 17px;
		
				@include helpers.mobile() {
					height: 20px;
				}

				@include helpers.tablet() {
					height: 28px;
					margin-right: 126px;
				}

				@include helpers.laptop() {
					margin-right: 180px;
				}

				@include helpers.desktop() {
					height: 40px;
					margin-right: 215px;
				}
		
				.logo-icon_svg {
					width: 69px;
					height: 17px;
		
					@include helpers.mobile {
						width: 82px;
						height: 20px;
					}

					@include helpers.tablet {
						width: 113px;
						height: 28px;
					}

					@include helpers.desktop() {
						width: 160px;
						height: 40px;
					}
				}
			}

			.header__contact-container {
				margin-right: 27px;

				@include helpers.mobile() {
					margin-right: 74px;
				}

				@include helpers.tablet {
					margin-right: auto;
					order: -1;
				}

				.header__map-icon {
					display: none;
					
					@include helpers.tablet {
						display: flex;
						align-items: center;
						font-family: "Montserrat", sans-serif;
						font-style: italic;
						font-weight: 700;
						font-size: 0.688rem;
						color: helpers.$color-pink;
						margin-bottom: 5px;
					}

					@include helpers.desktop() {
						display: inline-flex;
						font-size: 0.75rem;
						margin-bottom: 0;
						margin-right: 10px;
					}

					.map-icon_svg {
						@include helpers.tablet {
							width: 20px;
							height: 20px;
							margin-right: 8px;
						}

						@include helpers.desktop() {
							width: 24px;
							height: 24px;
							margin-right: 7px;
						}
						
					}
				}

				.header__tel {
					font-family: "Montserrat", sans-serif;
					font-style: italic;
					font-weight: 600;
					font-size: 0.5rem;
					display: flex;
					align-items: center;
					color: helpers.$color-pink;
			
					@include helpers.mobile() {
						font-family: "Montserrat", sans-serif;
						font-style: italic;
						font-weight: 700;
						font-size: 0.625rem;
					}
	
					@include helpers.tablet() {
						font-size: 0.688rem;
					}

					@include helpers.desktop() {
						display: inline-flex;
						font-size: 0.75rem;
					}
			
					.tel-icon_svg {
						margin-right: 4px;
						width: 7px;
						height: 11px;
			
						@include helpers.mobile() {
							margin-right: 8px;
							width: 16px;
							height: 16px;
						}
	
						@include helpers.tablet() {
							width: 20px;
							height: 20px;
							margin-right: 8px;
						}

						@include helpers.desktop() {
							width: 24px;
							height: 24px;
							margin-right: 11px;
						}
					}
				}
			}

			.header__search {
				height: 16px;
		
				@include helpers.mobile {
					height: 24px;
				}

				@include helpers.tablet {
					height: 20px;
					margin-right: 39px;
					display: flex;
					align-items: center;
				}

				@include helpers.laptop {
					margin-right: 48px;
				}

				@include helpers.desktop() {
					height: 24px;
					margin-right: 114px;
				}
		
				.search-icon_svg {
					width: 16px;
					height: 16px;
		
					@include helpers.mobile {
						width: 24px;
						height: 24px;
					}

					@include helpers.tablet {
						width: 20px;
						height: 20px;
						margin-right: 10px;
					}

					@include helpers.laptop {
						margin-right: 8px;
					}

					@include helpers.desktop() {
						width: 24px;
						height: 24px;
						margin-right: 16px;
					}
				}

				.search-name {
					display: none;

					@include helpers.tablet {
						display: block;
						font-family: "Montserrat", sans-serif;
						font-weight: 700;
						font-size: 11px;
						color: helpers.$color-black-standart;
					}
	
					@include helpers.desktop() {
						font-size: 12px;
					}
				}
			}
		
			.header__wish-list-icon {
				display: none;
		
				@include helpers.tablet {
					display: block;
					height: 20px;
					margin-right: 39px;
				}

				@include helpers.laptop {
					margin-right: 55px;
				}

				@include helpers.desktop() {
					height: 24px;
					margin-right: 33px;
				}

				.header__wish-list_svg {
					width: 20px;
					height: 20px;

					@include helpers.desktop() {
						width: 24px;
						height: 24px;
					}
				}
			}
		
			.header__cart-icon {
				display: none;
		
				@include helpers.tablet {
					display: block;
					height: 20px;
				}

				@include helpers.laptop() {
					height: 24px;
				}

				.header__cart_svg {
					width: 20px;
					height: 20px;

					@include helpers.desktop() {
						width: 24px;
						height: 24px;
					}
				}
			}
		}
	}
}

.pink-line-top {
	position: fixed;
	left: 0;
	top: 34px;
	width: 100%;
	height: 1px;
	background-color: helpers.$color-pink;
	@include helpers.zIndex(layer_middle);

	@include helpers.mobile() {
		top: 49px;
	}

	@include helpers.tablet() {
		top: 102px;
	}

	@include helpers.laptop() {
		top: 106px;
	}

	@include helpers.desktop() {
		top: 100px;
	}
}