@use "../../common/forwarded" as helpers;

.menu {
	position: fixed;
	width: 100%;
	bottom: 0;
	
	background-color: helpers.$color-white;
	@include helpers.zIndex(layer_middle);

	@include helpers.tablet() {
		display: none;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 58px;
	
		@include helpers.mobile() {
			justify-content: space-around;
		}
	}

	&__item {
		display: block;
	}

	&__icon-svg {
		display: block;
		width: 28px;
		height: 28px;
		margin: 0 auto 4px;

		@include helpers.mobile() {
			width: 32px;
			height: 32px;
		}
	}

	&__text {
		font-family: "Montserrat", sans-serif;
		font-size: 0.5rem;
		font-weight: 600;
		color: helpers.$color-black;
		line-height: 1;
	}
}

.menu__open {

	&-button.active {
		.button-svg-path {
			fill: helpers.$color-pink;
		}

		.menu__open-name {
			color: helpers.$color-pink;
		}
	}
}

.pink-line-bottom {
	height: 1px;
	background-color: helpers.$color-pink;
	@include helpers.zIndex(layer_middle);

	@include helpers.tablet() {
		display: none;
	}
}