@use "../../common/forwarded" as helpers;

.modal__filter {
	width: 100%;
	max-width: 1170px;
	height: calc(100% - 58px);
	position: fixed;
	top: 0;
	left: 0;
	@include helpers.zIndex(layer_overlay);
	background-color: helpers.$color-pink;
	transform: translateY(calc(100% + 58px));
	transition: transform 0.5s;
	overflow: auto;

	@include helpers.tablet() {
		position: absolute;
		height: 0;
		overflow: unset;
	}

	&.active {
		transform: translateY(0);
	}

	.filter {

		&__close-button {
			position: absolute;
			width: 24px;
			height: 24px;
			top: 20px;
			right: 16px;

			@include helpers.mobile() {
				width: 36px;
				height: 36px;
				top: 40px;
			}

			@include helpers.tablet() {
				display: none;
			}

			&:active {
				.close-button-svg-path {
					stroke: helpers.$color-red;
				}
			}

			&-svg {
				width: 100%;
				height: 100%;
			}
		}

		&__container {
			display: table;
			margin: 40px auto 0;
			position: relative;
			left: 30px;

			@include helpers.mobile() {
				margin: 100px auto 0;
				left: 50px;
			}

			@include helpers.tablet() {
				position: absolute;
				left: 15px;
				top: -58px;
				margin: 315px auto 0;
			}
		}

		&__name {
			font-family: "Montserrat", sans-serif;
			font-size: 1rem;
			font-weight: 700;
			color: helpers.$color-white;

			@include helpers.mobile() {
				font-size: 1.25rem;
			}

			@include helpers.tablet() {
				color: helpers.$color-black;
			}

			&_price {
				margin-top: 30px;

				@include helpers.mobile() {
					margin-top: 50px;
				}
			}

			&_size {
				margin-top: 30px;

				@include helpers.mobile() {
					margin-top: 50px;
				}
			}
		}

		&__categories-container {
			margin: 20px 0 0 30px;

			@include helpers.mobile() {
				margin: 30px 0 0 50px;
			}
		}

		&__categories-list {
			display: flex;
			flex-direction: column;
			gap: 16px;

			@include helpers.mobile() {
				gap: 24px;
			}
		}
	}

	.categories-item {
		overflow-y: hidden;

		&.active {
			.categories-item__button {
				color: helpers.$color-red;

				@include helpers.tablet() {
					color: helpers.$color-pink;
				}

				.arrow-bottom-icon-svg-path {
					fill: helpers.$color-red;

					@include helpers.tablet() {
						fill: helpers.$color-pink;
					}
				}

				.arrow-bottom-icon-svg {
					transform: scale( 1, -1);
				}
			}

			.categories-item__subList {
				margin: 16px 0 0 30px;

				@include helpers.mobile() {
					margin: 20px 0 0 30px;
				}
			}
		}

		&__button {
			font-family: "Montserrat", sans-serif;
			font-weight: 600;
			line-height: 1.2;
			font-size: 0.875rem;
			text-transform: capitalize;
			color: helpers.$color-white;

			@include helpers.mobile() {
				font-size: 1.125rem;
			}

			@include helpers.tablet() {
				color: helpers.$color-black;
			}

			.arrow-bottom-icon-svg {
				width: 13px;
				height: 10px;
				margin-left: 15px;
				transition: transform 0.5s;

				@include helpers.tablet() {
					width: 14px;
					height: 12px;
				}
			}

			.arrow-bottom-icon-svg-path {
				fill: helpers.$color-white;

				@include helpers.tablet() {
					fill: helpers.$color-black;
				}
			}
			
		}

		&__subList {
			display: flex;
			flex-direction: column;
			gap: 10px;
			height: 0;
			margin: 0 0 0 30px;
			transition: height 0.5s,
				margin 0.5s;

			@include helpers.mobile() {
				gap: 16px;
			}

			.categories__subList_content {
				font-family: "Montserrat", sans-serif;
				font-weight: 400;
				font-size: 0.875rem;
				line-height: 1.2;
				text-transform: capitalize;
				color: helpers.$color-white;

				@include helpers.mobile() {
					font-size: 1rem;
				}

				@include helpers.tablet() {
					color: helpers.$color-black;
					font-weight: 500;
				}
			}
		}
	}

	.filter-item {

		&.active {
			.filter-marker {
				fill: helpers.$color-red;
				
				@include helpers.tablet() {
					fill: helpers.$color-pink;
				}

				&-circle {
					stroke: helpers.$color-red;

					@include helpers.tablet() {
						stroke: helpers.$color-pink;
					}
				}
			}

			.filter-item-text {
				color: helpers.$color-red;
				font-style: italic;

				@include helpers.tablet() {
					color: helpers.$color-pink;
				}
			}
		}
	}

	.list-marker {
		display: inline-block;
		width: 8px;
		height: 8px;
		margin-right: 18px;

		@include helpers.mobile() {
			width: 10px;
			height: 10px;
			margin-right: 16px;
		}

		.filter-marker {
			fill: none;

			&-circle {
				stroke: helpers.$color-white;

				@include helpers.tablet() {
					stroke: helpers.$color-black;
				}
			}
		}
	}

	.filter__price-container {
		margin: 20px 0 0 30px;

		@include helpers.mobile() {
			margin: 30px 0 0 50px;
		}

		.price__list {
			display: flex;
			flex-direction: column;
			gap: 16px;

			@include helpers.mobile() {
				gap: 20px;
			}
	
			&-item-button {
				font-family: "Montserrat", sans-serif;
				font-weight: 600;
				line-height: 1.2;
				font-size: 0.875rem;
				color: helpers.$color-white;

				@include helpers.mobile() {
					font-size: 1.125rem;
				}

				@include helpers.tablet() {
					color: helpers.$color-black;
				}
			}
		}
	}

	.filter__size-container {
		margin: 20px 0 50px 30px;

		@include helpers.mobile() {
			margin: 30px 0 70px 50px;
		}

		.size__list {
			display: flex;
			flex-direction: column;
			gap: 16px;

			@include helpers.mobile() {
				gap: 20px;
			}
	
			&-item-button {
				font-family: "Montserrat", sans-serif;
				font-weight: 600;
				line-height: 1.2;
				font-size: 0.875rem;
				color: helpers.$color-white;

				@include helpers.mobile() {
					font-size: 1.125rem;
				}

				@include helpers.tablet() {
					color: helpers.$color-black;
				}
			}
		}
	}
}