@use "../../common/forwarded" as helpers;

.modal__menu {
	width: 100%;
	max-width: 1170px;
	height: calc(100% - 58px);
	position: fixed;
	top: 0;
	left: 0;
	@include helpers.zIndex(layer_overlay);
	background-color: helpers.$color-pink;
	transform: translateX(-100%);
	transition: transform 0.5s;

	@include helpers.tablet() {
		position: absolute;
		left: 0;
		right: 0;
		top: 60px;
		margin: 0 auto;
		height: auto;
		visibility: visible;
		opacity: 1;
		background-color: initial;
		transform: translateX(0);
		transition: none;
	}

	&.active {
		transform: translateX(0);
	}

	.menu {

		&__close-button {
			position: absolute;
			width: 24px;
			height: 24px;
			top: 20px;
			right: 16px;

			@include helpers.mobile() {
				width: 36px;
				height: 36px;
				top: 40px;
			}

			@include helpers.tablet() {
				display: none;
			}

			&:active {
				.close-button-svg-path {
					stroke: helpers.$color-red;
				}
			}

			&-svg {
				width: 100%;
				height: 100%;
			}
		}

		&__container {
			position: absolute;
			display: table;
			top: 143px;
			left: 0;
			right: 0;
			margin: 0 auto;

			@include helpers.tablet() {
				top: 0;
				display: block;
				transform: translateX(0);
				transition: none;
			}

			.menu__name-container {
				display: flex;
				align-items: center;
				position: relative;
				margin-bottom: 40px;

				@include helpers.mobile() {
					font-size: 1.25rem;
				}

				@include helpers.tablet() {
					display: none;
				}

				.menu__name_button {
					line-height: 1.94;
					font-family: "Sunday Best [rus by aLiNcE]", arial;
					font-weight: 400;
					color: helpers.$color-white;

					@include helpers.mobile() {
						font-size: 1.25rem;
					}

					@include helpers.tablet() {
						display: none;
					}

					&.active {
						color: helpers.$color-red;

						& + .menu__name_slash {
							visibility: visible;
							opacity: 1;
						}
					}
				}

				.menu__name_slash {
					color: helpers.$color-white;
					font-family: "Montserrat", sans-serif;
					font-size: 1.5rem;
					font-weight: 400;
					margin-left: 6px;
					visibility: hidden;
					opacity: 0;
					transition: visibility 0.5s,
						opacity 0.5s;

					@include helpers.mobile() {
						margin: 0 16px;
					}
				}

				.menu__name_subname {
					position: absolute;
					left: 68px;
					color: helpers.$color-white;
					font-family: "Montserrat", sans-serif;
					font-weight: 600;
					text-transform: uppercase;
					visibility: hidden;
					opacity: 0;
					transition: visibility 0.5s,
						opacity 0.5s;

					@include helpers.mobile() {
						font-size: 1.125rem;
						left: 102px;
					}

					&.active {
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}

		&__list-container-main {
			transform: translateX(0);
			transition: transform 0.5s;

			@include helpers.tablet {
				padding: 0 15px;
			}

			&.inactive {
				transform: translateX(-100vw);

				@include helpers.tablet {
					transform: translateX(0);

				}
			}
		}

		&__list-container {
			position: absolute;
			top: 66px;
			left: 0;
			transform: translateX(-100vw);
			transition: transform 0.5s;

			@include helpers.mobile() {
				top: 79px;
			}

			@include helpers.tablet() {
				width: calc(100% - 30px);
				right: 0;
				margin: 0 auto;
				height: 38px;
				top: 43px;
				border-bottom: 2px solid helpers.$color-grey;
				transform: translateX(0);
				transform: translateY(-100%);
				opacity: 0;
				visibility: hidden;
				transition: opacity 0.5s,
					visibility 0.5s,
					transform 0.5s,
					background-color 0.5s;
			}

			@include helpers.laptop() {
				top: 47px;
			}

			@include helpers.desktop() {
				top: 41px;
			}

			&.active {
				transform: translateX(0);

				@include helpers.tablet() {
					background-color: helpers.$color-white;
					transform: translateY(0);
					opacity: 1;
					visibility: visible;
				}
			}
		}

		&__list {
			display: flex;
			flex-direction: column;
			gap: 16px;

			@include helpers.mobile() {
				gap: 24px;
			}

			@include helpers.tablet() {
				flex-direction: row;
				align-items: center;
				justify-content: center;
			}

			@include helpers.laptop() {
				gap: 36px;
			}

			@include helpers.desktop() {
				gap: 71px;
			}

			&_main {
				@include helpers.tablet() {
					justify-content: space-between;
					gap: unset;
				}
			}

			&_subList {
				width: max-content;
				transform: translate(-100vh);
				position: absolute;
				transition: transform 0.5s;

				@include helpers.tablet() {
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto;
					transform: translate(0);
					opacity: 0;
					visibility: hidden;
					transition: opacity 1s,
						visibility 1s;
				}

				&.active {
					transform: translate(0);

					@include helpers.tablet() {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}

		&__item {
			font-family: "Montserrat", sans-serif;
			font-weight: 600;
			line-height: 1;
			font-size: 1rem;
			text-transform: uppercase;
			color: helpers.$color-white;

			@include helpers.mobile() {
				font-size: 1.125rem;
			}

			@include helpers.tablet() {
				font-size: 0.875rem;
				color: helpers.$color-black;
				line-height: 3;
			}

			@include helpers.laptop() {
				font-size: 1rem;
			}

			&:active {
				color: helpers.$color-red;

				@include helpers.tablet() {
					font-style: italic;
					color: helpers.$color-pink;
				}

				.arrow-right-icon-svg-path {
					fill: helpers.$color-red;
				}
			}

			&.active {
				@include helpers.tablet() {
					font-style: italic;
					color: helpers.$color-pink;
				}
			}

			&:hover {
				@include helpers.tablet() {
					font-style: italic;
					color: helpers.$color-pink;
				}
			}

			.arrow-right-icon-svg {
				width: 11px;
				height: 12px;
				margin-left: 10px;

				@include helpers.tablet() {
					display: none;
				}
			}
		}

		&__sub-item {
			font-family: "Montserrat", sans-serif;
			font-weight: 400;
			text-transform: uppercase;
			color: helpers.$color-white;

			@include helpers.tablet() {
				font-size: 0.875rem;
				font-weight: 400;
				text-transform: none;
				color: helpers.$color-black;
			}

			@include helpers.desktop() {
				font-size: 1rem;
			}

			&:hover {
				@include helpers.tablet() {
					font-style: italic;
					font-weight: 500;
					color: helpers.$color-pink;
				}
			}
		}
	}
}