@use "../../common/forwarded" as helpers;

.modal__filter {
	width: 100%;
	height: calc(100% - 58px);
	position: fixed;
	top: 0;
	left: 0;
	@include helpers.zIndex(layer_overlay);
	background-color: helpers.$color-pink;
	transform: translateY(calc(100% + 58px));
	transition: transform 0.5s;
	overflow: auto;

	@include helpers.tablet() {
		position: static;
		height: 0;
		overflow: unset;
		transform: translateY(0);
	}

	&.active {
		transform: translateY(0);
	}

	.filter {

		&__close-button {
			position: absolute;
			width: 24px;
			height: 24px;
			top: 20px;
			right: 16px;

			@include helpers.mobile() {
				width: 36px;
				height: 36px;
				top: 40px;
			}

			@include helpers.tablet() {
				display: none;
			}

			&:active {
				.close-button-svg-path {
					stroke: helpers.$color-red;
				}
			}

			&-svg {
				width: 100%;
				height: 100%;
			}
		}

		&__container {
			display: table;
			max-width: 1170px;
			margin: 40px auto 0;
			position: relative;
			left: 30px;

			@include helpers.mobile() {
				margin: 100px auto 0;
				left: 50px;
			}

			@include helpers.tablet() {
				position: static;
				display: block;
				padding-left: 15px;
				margin: 0 auto;
			}
		}

		&__name {
			font-family: "Montserrat", sans-serif;
			font-size: 1rem;
			font-weight: 700;
			color: helpers.$color-white;

			@include helpers.mobile() {
				font-size: 1.25rem;
			}

			@include helpers.tablet() {
				color: helpers.$color-black;
			}

			&_price {
				margin-top: 30px;

				@include helpers.mobile() {
					margin-top: 50px;
				}
			}

			&_size {
				margin-top: 30px;

				@include helpers.mobile() {
					margin-top: 50px;
				}
			}
		}

		&__categories-container {
			margin: 20px 0 0 30px;

			@include helpers.mobile() {
				margin: 30px 0 0 50px;
			}

			@include helpers.tablet() {
				margin: 30px 0 0 0;
			}
		}

		&__categories-list {
			display: flex;
			flex-direction: column;
			gap: 16px;

			@include helpers.mobile() {
				gap: 24px;
			}

			@include helpers.tablet() {
				gap: 15px;
			}
		}
	}

	.categories-item {
		overflow-y: hidden;

		&.active {
			.categories-item__button {
				color: helpers.$color-red;

				@include helpers.tablet() {
					color: helpers.$color-pink;
				}

				.arrow-bottom-icon-svg-path {
					fill: helpers.$color-red;

					@include helpers.tablet() {
						fill: helpers.$color-pink;
					}
				}

				.arrow-bottom-icon-svg {
					transform: scale( 1, -1);
				}
			}

			.categories-item__subList {
				margin: 16px 0 0 30px;

				@include helpers.mobile() {
					margin: 20px 0 0 30px;
				}

				@include helpers.tablet() {
					margin: 20px 0 5px 50px;
				}
			}
		}

		&__button {
			font-family: "Montserrat", sans-serif;
			font-weight: 600;
			line-height: 1.2;
			font-size: 0.875rem;
			text-transform: capitalize;
			color: helpers.$color-white;

			@include helpers.mobile() {
				font-size: 1.125rem;
			}

			@include helpers.tablet() {
				color: helpers.$color-black;
			}

			.arrow-bottom-icon-svg {
				width: 13px;
				height: 10px;
				margin-left: 15px;
				transition: transform 0.5s;

				@include helpers.tablet() {
					width: 14px;
					height: 12px;
				}
			}

			.arrow-bottom-icon-svg-path {
				fill: helpers.$color-white;

				@include helpers.tablet() {
					fill: helpers.$color-black;
				}
			}
			
		}

		&__subList {
			display: flex;
			flex-direction: column;
			gap: 10px;
			height: 0;
			margin-left: 30px;
			transition: height 0.5s,
				margin 0.5s;

			@include helpers.mobile() {
				gap: 16px;
			}

			@include helpers.tablet() {
				gap: 10px;
				margin-left: 50px;
			}
		}
	}

	.filter__price-container {
		margin: 20px 0 0 30px;

		@include helpers.mobile() {
			margin: 30px 0 0 50px;
		}

		.price__list {
			display: flex;
			flex-direction: column;
			gap: 16px;

			@include helpers.mobile() {
				gap: 20px;
			}
	
			&-item-button {
				font-family: "Montserrat", sans-serif;
				font-weight: 600;
				line-height: 1.2;
				font-size: 0.875rem;
				color: helpers.$color-white;

				@include helpers.mobile() {
					font-size: 1.125rem;
				}

				@include helpers.tablet() {
					color: helpers.$color-black;
				}
			}
		}
	}

	.filter__size-container {
		margin: 20px 0 50px 30px;

		@include helpers.mobile() {
			margin: 30px 0 70px 50px;
		}

		.size__list {
			display: flex;
			flex-direction: column;
			gap: 16px;

			@include helpers.mobile() {
				gap: 20px;
			}
	
			&-item-button {
				font-family: "Montserrat", sans-serif;
				font-weight: 600;
				line-height: 1.2;
				font-size: 0.875rem;
				color: helpers.$color-white;

				@include helpers.mobile() {
					font-size: 1.125rem;
				}

				@include helpers.tablet() {
					color: helpers.$color-black;
				}
			}
		}
	}
}

.filter-item {
	.filter-item-label {
		position: relative;
		cursor: pointer;

		@include helpers.tablet() {
			color: helpers.$color-pink;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto 0;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			border: 1px solid helpers.$color-white;
			background-color: helpers.$color-pink;

			@include helpers.mobile() {
				width: 10px;
				height: 10px;
			}

			@include helpers.tablet() {
				border: 1px solid helpers.$color-black;
				background-color: transparent;
			}
		}

		.filter-item-marker {
			display: inline-block;
			width: 8px;
			height: 8px;
			margin-right: 18px;
			opacity: 0;
			position: relative;
			@include helpers.zIndex(layer_negative);
	
			@include helpers.mobile() {
				width: 10px;
				height: 10px;
				margin-right: 16px;
			}

			@include helpers.tablet() {
				margin-right: 12px;
			}
		}

		.filter-item-text {
			font-family: "Montserrat", sans-serif;
			font-weight: 400;
			font-size: 0.875rem;
			line-height: 1.2;
			text-transform: capitalize;
			color: helpers.$color-white;

			@include helpers.mobile() {
				font-size: 1rem;
			}

			@include helpers.tablet() {
				color: helpers.$color-black;
				font-weight: 400;
			}
		}
	}
}

.filter-item.active {
	.filter-item-label {

		&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto 0;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			border: 1px solid helpers.$color-red;
			background-color: helpers.$color-red;

			@include helpers.tablet() {
				border: 1px solid helpers.$color-pink;
				background-color: helpers.$color-pink;
			}

			@include helpers.mobile() {
				width: 10px;
				height: 10px;
			}
		}

		.filter-item-text {
			color: helpers.$color-red;
			font-style: italic;
			font-weight: 600;

			@include helpers.mobile() {
				font-weight: 500;
			}

			@include helpers.tablet() {
				color: helpers.$color-pink;
			}
		}
	}
}

.filter-item.price-and-size {

	.filter-item-marker {
		@include helpers.tablet() {
			margin-right: 16px;
		}
	}

	.filter-item-text {
		font-weight: 600;

		@include helpers.mobile() {
			font-size: 1.125rem;
		}
	}
}

.filter-item.price-and-size.active {
	.filter-item-text {
		@include helpers.mobile() {
			font-weight: 600;
		}
	}
}